{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="popup">
        <div class="innerpopup">
            <form class="form" method="POST" action="{% url 'login' %}">
                <h2 class="heading-text">Авторизация</h2>

                {% csrf_token %}
                <input class="usname" type="text" placeholder="Имя" name="username">
                <input class="uspassword" type="password" placeholder="Пароль" name="password">
                <input class="btn" type="submit">
            </form>
        </div>
    </div>
</body>
</html>